
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/firstlayout.cshtml";
}

<h2>WELCOME TO HOME PAGE</h2>
@{
    ViewBag.Message = "welcome to demo application";
}
@section SlidebarOptions
{
    <a href="#" class="list-group-item text-black" style="background-color:transparent">AgentUser</a>
    <a href="#" class="list-group-item text-black" style="background-color:transparent">Manufactuer</a>
    <a href="#" class="list-group-item text-black" style="background-color:transparent">Placed order</a>
}
