@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class=" table">
    <tr>
        <th>Product Id</th>
        <td>@ViewBag.MatchingProducts.ProductId</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@ViewBag.MatchingProducts.ProductName</td>
    </tr>
    <tr>
        <th>Product Rate</th>
        <td>@ViewBag.MatchingProducts.ProductRate</td>
    </tr>
</table>

